:host {
  height: 100%;
  display: block;
  --repro-grid-size: 1;
}

.page {
  height: 100%;
  display: grid;
  grid-template-rows: 1f min-content min-content;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1.5rem;
  box-sizing: border-box;
}

.grid {
  --ig-size: var(--repro-grid-size);
  width: 100%;
}

.control,
button[igxButton] {
  width: min(18rem, 100%);
}
